
<!DOCTYPE html>

<html lang="pt-br">
{% load static %}
<head>

	<title>Pagina 1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	
</head>
<body>
 
 <header >

	<img id='logo' src="{% static 'img/adg.png ' %}">
 </header>



	<p id='data'>Data e Hora de hoje : <em>{{agora}}</em></p>

	<div id = 'square'>
			<div class = "botao">
				<a id = 'formulario' href="{% url 'nova_url' %}">Formulário</a><br>
				<a id = 'lista' href="{% url 'url_lista' %}">Lista</a>
			</div>

</div>
	



</body>
</html>