
<!DOCTYPE html>

<html lang="pt-br">
{% load static %}
<head>

	<title>Pagina 1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	
</head>
<body>
 
 <header>

	<img id='logo' src="{% static 'img/adg.png' %}">
 </header>



	<p id='data'>Data e Hora de hoje : <em>{{agora}}</em></p>

	
	<ul>
	
		{% for transacao in trasacoes %}
			{% if transacao == 't3' %}
				<li><b>{{transacao}}<b/></li>

			{% else %}
				<li>{{transacao}}</li>



			{% endif %}

		{% endfor %}
	</ul>


	



</body>
</html>